@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #050505; /* Match app background */
}

@media print {
  @page {
    size: landscape;
    margin: 0;
  }
  
  html, body, #root {
    height: auto !important;
    overflow: visible !important;
    background-color: #050505 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Hide UI elements during print */
  .no-print {
    display: none !important;
  }
}
